:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-imagePath {
  height: 10rem;
  margin: 1rem;
}

.post-imagePath img {
  height: 100%;
}
