:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-imagePath {
  width: 100%;
}

.post-imagePath img {
  width: 50%;
  box-shadow: 1px 1px 5px;
}
