<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="postForm" (submit)="onAddPost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Title">
        <!-- ngModel: this is directive that child control with the form (send value of this input via form) -->
        <!-- name="title" is attribute of this ngModule(form) (like Java that we can be use .title in file.ts) -->
        <!-- #title="ngModel": This gives you a reference to the Angular NgModel; assign ngModel to tag "title" to call at other location to use control status like invalid...  -->
      <mat-error *ngIf="postForm.get('title').invalid">Please enter a post to this the title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" color="primary" (click)="inputImage.click()">Upload image</button>
      <input type="file" #inputImage id="inputImage" (change)="onImagePicked($event)" accept="image/*">
    </div>
    <div class="image-preview" *ngIf="imagePreview && imagePreview !== ''">
      <img [src]="imagePreview" [alt]="postForm.value.title">
    </div>
    <mat-form-field>
      <!-- ? this will force angular to check whether a post exists before it tries to read the title and it will populate this field with nothing.  -->
      <textarea matInput row="1" formControlName="content" placeholder="Content"></textarea>
      <mat-error *ngIf="postForm.get('content').invalid">Please enter a post to this the content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit">save post</button>
  </form>
</mat-card>